
<section>
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 md:pt-20 pt-0">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt="House"
            src="/images/Abdul-Sattar-Edhi-2.jpg"
            class="absolute inset-0 h-96 sm:h-80 lg:h-full w-full object-cover"
          />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="py-12 px-4">
          <h2 class="text-2xl font-bold sm:text-3xl">Abdul Sattar Edhi</h2>
          <h4 class="font-bold text-red-700 text-xl">Founder Profile</h4>

          <p class="  pt-10 text-gray-600">
            Born in 1928 in the small village of Bantva near Joona Garh, Gujrat (India), Abdul Sattar Edhi's journey of compassion began with the seeds planted in his soul during his mother's illness. At the age of eleven, when his mother became paralyzed and later suffered from mental illness, Edhi devoted himself to her care. <br />
            He undertook the responsibilities of cleaning, bathing, changing clothes, and feeding her. Despite his efforts, the battle against the disease proved to be challenging, and his mother's helplessness grew over the years. This early experience shaped Edhi's lifelong commitment to alleviating the suffering of humanity.
          </p>
          <br />
          <a
            href="/about-us/founder-profile"
            class="flex justify-center items-center h-12 px-6 rounded-md bg-green-600 text-white border border-green-500"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
