---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";

const { footer }: { footer: { name: string; url: string }[] } = menu;
const { footerAbout }: { footerAbout: { name: string; url: string }[] } = menu;
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<div class="w-full bg-[#009241]">
  <div
    class="container flex flex-col flex-wrap content-center justify-center p-4 py-20 mx-auto md:p-10"
  >
    <h4
      class="pb-4 text-5xl antialiased font-semibold leadi text-center text-white"
    >
      Get Our Latest Updates
    </h4>
    <!-- <p class="pt-2  text-xl antialiased text-center text-white">Find out about events and other news</p> -->
    <div class="flex flex-row">
      <input
        type="text"
        placeholder="example@email.com"
        class="w-3/5 p-3 sm:w-2/3"
      />
      <button
        type="button"
        class="w-2/5 font-semibold sm:w-1/ btn-sm btn-second">Subscribe</button
      >
    </div>
  </div>
</div>
<footer class="bg-white dark:bg-gray-950 text-gray-700 dark:text-gray-300">
  <div
    class="max-w-7xl mx-auto px-5 sm:px-10 md:px-12 lg:px-5 py-20 flex flex-col lg:flex-row gap-14"
  >
    <div class="space-y-6 lg:w-96">
      <a href="/">
        <img src="/images/logo.jpg" alt="" />
      </a>
      <p class="max-w-lg">
        Serving humanity with compassion and commitment, an Islamic charity
        dedicated to providing essential support and care.
      </p>
      <div class="flex w-full gap-5">
        <a href="https://www.facebook.com/EdhiFoundationUK/" aria-label="social link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="w-5 h-5"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
            ></path>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/edhi-foundation-a11b9195/" aria-label="social link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="w-5 h-5"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169h4.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
            ></path>
          </svg>
        </a>
        <a href="https://twitter.com/edhiorg" aria-label="social link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="w-5 h-5"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
            ></path>
          </svg>
        </a>
        <a href="https://www.pinterest.com/edhiorg/" aria-label="social link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 0c-6.627 0-12 5.372-12 12 0 5.084 3.163 9.426 7.627 11.174-.105-.949-.2-2.405.042-3.441.218-.937 1.407-5.965 1.407-5.965s-.359-.719-.359-1.782c0-1.668.967-2.914 2.171-2.914 1.023 0 1.518.769 1.518 1.69 0 1.029-.655 2.568-.994 3.995-.283 1.194.599 2.169 1.777 2.169 2.133 0 3.772-2.249 3.772-5.495 0-2.873-2.064-4.882-5.012-4.882-3.414 0-5.418 2.561-5.418 5.207 0 1.031.397 2.138.893 2.738.098.119.112.224.083.345l-.333 1.36c-.053.22-.174.267-.402.161-1.499-.698-2.436-2.889-2.436-4.649 0-3.785 2.75-7.262 7.929-7.262 4.163 0 7.398 2.967 7.398 6.931 0 4.136-2.607 7.464-6.227 7.464-1.216 0-2.359-.631-2.75-1.378l-.748 2.853c-.271 1.043-1.002 2.35-1.492 3.146 1.124.347 2.317.535 3.554.535 6.627 0 12-5.373 12-12 0-6.628-5.373-12-12-12z"
              fill-rule="evenodd"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <a href="https://www.youtube.com/watch?v=sXuMy0WGit0&t=24s" aria-label="social link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <nav class="lg:flex-1 grid grid-cols-2 md:grid-cols-4 gap-10">
      <div class="space-y-6">
        <h2 class="text-lg font-semibold text-green-600 dark:text-gray-100">
          Appeals
        </h2>
        <ul class="space-y-3">
          <li>
            <a
              href="/appeals/sadaqah"
              class="duration-200 text-black hover:text-green-600">Sadaqah</a
            >
          </li>
          <li>
            <a
              href='/appeals/zakat'
              class="duration-200 text-black hover:text-green-600">Zakat</a
            >
          </li>
          <li>
            <a
              href="/appeals/fidya-and-fitrana"
              class="duration-200 text-black hover:text-green-600"
              >Fidya And Fitrana</a
            >
          </li>
          <li>
            <a
              href="/appeals/lillah-program"
              class="duration-200 text-black hover:text-green-600">Lillah</a
            >
          </li>
        </ul>
      </div>
      <div class="space-y-6">
        <h4 class="text-lg font-semibold text-green-600 dark:text-gray-100">
          Services
        </h4>
        <ul class="space-y-3">
          <li>
            <a
              href="/services/ambulance-service"
              class="duration-200 text-black hover:text-green-600"
              >Ambulance Service</a
            >
          </li>
          <li>
            <a
              href="/services/educational-services"
              class="duration-200 text-black hover:text-green-600"
              >Educational Services</a
            >
          </li>
          <li>
            <a
              href="/services/graveyard"
              class="duration-200 text-black hover:text-green-600"
              >Graveyard Service</a
            >
          </li>
          <li>
            <a
              href="/services/children-services"
              class="duration-200 text-black hover:text-green-600"
              >Children Service</a
            >
          </li>
        </ul>
      </div>
      <div class="space-y-6">
        <h4 class="text-lg font-semibold text-green-600 dark:text-gray-100">
          Company
        </h4>
        <ul class="space-y-3">
          <li>
            <a
              href="/about-us/about-edhi-foundation"
              class="duration-200 text-black hover:text-green-600">About Us</a
            >
          </li>
          <li>
            <a
              href="/contact-us/united-kingdom"
              class="duration-200 text-black hover:text-green-600">Contact Us</a
            >
          </li>
          <li>
            <a
              href="/media/image-galleries"
              class="duration-200 text-black hover:text-green-600">Media</a
            >
          </li>
          <li>
            <a href="/media/downloads" class="duration-200 text-black hover:text-green-600"
              >Downloads</a
            >
          </li>
        </ul>
      </div>
      <div class="space-y-6">
        <h4 class="text-lg font-semibold text-green-600 dark:text-gray-100">
          Contact Us
        </h4>
        <ul class="space-y-3">
          <li>
            <i class="fas fa-phone fa-flip-horizontal"></i>

            <a href="tel:02077232050" class="duration-200 text-black hover:text-green-600"
              >02077232050</a
            >
          </li>
          <li>
            <i class="fas fa-envelope fa-flip-horizontal"></i>

            <a href="mailto: info@edhiuk.org" class="duration-200 text-black hover:text-green-600"
              >info@edhiuk.org</a
            >
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i>

            <a
              href="https://www.google.com/maps/place/803+Romford+Rd,+London+E12+6BX,+UK/@51.5523704,0.0492534,17z/data=!3m1!4b1!4m6!3m5!1s0x47d8a6540e73e80f:0x821aa2e42eae11b8!8m2!3d51.5523671!4d0.0518283!16s%2Fg%2F11c0vn8860?entry=ttu"
              class="duration-200 text-black hover:text-green-600"
              target="_blank"
              >803 Romford Road, London, E12 5AN United Kingdom</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="w-full  mx-auto flex flex-col md:flex-row items-center justify-between bg-black py-2 px-4 ">
    <div class="text-gray-300 mb-2 md:mb-0 md:mr-4">Copyright © 2024 Edhi Foundation | All rights reserved.</div>
    <div class="flex flex-col md:flex-row items-center">
      <a href="/terms-and-conditions" class="text-gray-300 hover:text-white mr-4 mb-2 md:mb-0 md:mr-4">Terms and conditions</a>
      <span class="text-gray-300 hidden md:inline">|&nbsp;&nbsp; &nbsp; </span>
      <a href="/privacy-policy" class="text-gray-300 hover:text-white ml-4 md:ml-0">Privacy Policy</a>
    </div>
  </div>
  
</footer>

<!-- New Footer Added -->
