---
import config from "@/config/config.json";
import Logo from "@/components/Logo.astro";
// import ThemeSwitcher from "@/components/ThemeSwitcher.astro";

import { IoSearch } from "react-icons/io5/index.js";
import Navbar from "@/components/Navbar.astro";


const { navigation_button, settings } = config;
const { pathname } = Astro.url;
---
<div class="navbar sm:px-44 border-solid border-y bg-[#009241] py-1.5 hidden sm:flex ">

  <span class="header-text">
    <span>
      Head Office: 803 Romford Road, London, E12 5AN United Kingdom Daily
      Timings: 9am-10pm
    </span>
  </span>
  <button type="button" class="btn-sm btn-second">
    <span>Login / Signup</span>
  </button>
</div>
<header class={`header z-30 ${settings.sticky_header && "sticky top-0"}`}>
    
    </div>
    <div class="navbar sm:px-44 py-1.5"><div class="order-0">
      <Logo />
    </div>
    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
      {
        settings.search && (
          <a
            class="mr-5 inline-block border-r border-border pr-5 text-xl text-dark hover:text-primary dark:border-darkmode-border dark:text-white"
            href="/search"
            aria-label="search"
          >
            <IoSearch />

          </a>
        )
      }
      <!-- <ThemeSwitcher className="mr-5" /> -->
      {
        navigation_button.enable && (
          <a
            class="btn btn-outline-primary btn-sm hidden lg:inline-block"
            href={navigation_button.link}
          >
            {navigation_button.label}
          </a>
        )
      }
      
    </div>
    
  </div>
    
  
    
  <nav class="navbar sm:px-44 justify-center border-solid border-y">
    <Navbar />
    <!-- logo -->
    
    
</header>


<style>

  .header-text
  {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  }
</style>