---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import Accordion from "@/shortcodes/Accordion";
const childrenservices = await getEntry("children-services", "-index");
const { Content } = await childrenservices.render();
const { title, description, meta_title } = childrenservices.data;
import ServiceSlider from "@/components/ServiceSlider.astro";
---

<Base>
  <!-- <--heading started here -->
  <section
    class="relative bg-[url(/images/covid-19/banner-bg.jpg)] bg-cover bg-center bg-no-repeat pb-12 h-[400px] "

  >
    <div
      class="bg-gradient-to-r from-white to-transparent absolute inset-0 sm:bg-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-r from-white to-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="relative mx-auto max-w-screen-xl px-4 sm:px-6 lg:flex lg:h-screen lg:items-baseline pt-12 lg:px-8"
    >
      <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-left font-primary">
            COVID-19 
            <span class="font-extrabold text-green-600">Assistance</span>

        </h1>

        <p class="text-lg mt-4 sm:text-xl/relaxed text-left font-roboto">
            Edhi Foundation extended crucial support during the COVID-19 crisis, offering aid with ambulances and a dedicated team of volunteers.
        </p>

        <div class="mt-8 flex flex-wrap gap-4 text-center">
          <a
            href="https://edhi-donate.tscube.co.in/"
            class="block w-96 rounded bg-green-700 px-12 py-3 text-[18px] font-medium text-white shadow hover:bg-green-600 focus:outline-none focus:ring active:bg-green-600 sm:w-auto"
          >
            Donate Now
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-green-600 border-black p-4">
    <h1 class="text-center text-[20px] text-white pb-2 font-roboto">
      Prophet(PBUH) Said-Whoever does not show mercy to our young ones, or
      acknowledge the rights of our elders, is not one of us.
    </h1>
    <p class="text-center text-white">(Sahih Bukhari)</p>
  </div>
  <!-- <--heading ended here -->
  <!-- section 1 started here -->
  <section>
    <div class="mx-auto max-w-screen-xl px-4 pt-10 sm:px-6 sm:py-16 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/covid-19/covid-19-1.jpg"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>

        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">
            Edhi Foundation's Pandemic Response
        </h2>

          <p class="text-[17px] font-roboto">
            During the COVID-19 pandemic, Edhi Foundation demonstrated extraordinary commitment by offering assistance to neighboring India. Led by Chairman Faisal Edhi, the foundation proposed to send a team equipped with 50 ambulances and essential supplies, aiming to alleviate the severe impact of the virus. This gesture of cross-border solidarity emphasized their dedication to humanitarian aid, regardless of national boundaries.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- section 1 ended here -->
  <!-- section 2 started here -->
  <section>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 pt-6 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">
            Cross-Border Humanitarian Efforts
        </h2>

          <p class="text-[17px] font-roboto">
            The Edhi Foundation's offer to support India during its critical COVID-19 crisis reflects their longstanding commitment to humanitarian service across borders. Faisal Edhi's letter to Prime Minister Narendra Modi highlighted the foundation's readiness to deploy a team of medical technicians, drivers, and support staff, fully self-sufficient with their own supplies. <br><br>

            This initiative is part of Edhi's broader mission to provide emergency relief and promote health and well-being internationally, demonstrating the foundation's ethos of compassion and cooperation in times of need, and building on their history of aiding those in distress, regardless of geographical or political barriers.
          </p>
        </article>
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/covid-19/covid-19-2.jpg"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- section 2 ended here -->
  <!-- section 3 started here -->
  <section class="pb-10 pt-16">
    <div class="max-w-7xl mx-auto px-5 sm:px-10 md:px-12 lg:px-5">
      <div
        class="align-middle bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 rounded-lg p-8 md:p-10 py-14 lg:p-14 flex flex-col md:flex-row items-center justify-center text-center md:text-left md:justify-start md:items-start gap-8"
      >
        <div class="md:w-2/5 align-middle">
          <h5
            class="pt-10 text-center text-xl sm:text-4xl md:text-3xl xl:text-6xl text-black dark:text-white font-display font-bold leading-tight"
          >
            Get Involved
          </h5>
        </div>
        <div class="flex flex-col md:flex-1 space-y-8">
          <p class="text-gray-700 dark:text-gray-300 text-2xl font-roboto">
            Take the next step to making a difference – support Edhi
            Foundation's humanitarian efforts!
          </p>
          <div class="text-[20px] flex justify-center md:justify-start">
            <a
              href="https://edhi-donate.tscube.co.in/"
              class="h-12 px-5 rounded-md flex items-center bg-green-700 text-white"
            >
              Donate Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section 3 ended here -->
  <!-- section 4 started here -->

  <section>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/covid-19/covid-19-3.jpg"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>

        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">
            Community Support and Outreach
        </h2>

          <p class="text-[17px] font-roboto">
            In the face of the COVID-19 pandemic, the Edhi Foundation not only proposed significant aid to India but also intensified its local efforts in Pakistan. By mobilizing a vast network of volunteers and resources, they provided emergency services, medical care, and public health education to communities heavily impacted by the virus. Their quick and comprehensive response underlined the foundation's crucial role in both local and international health crises, echoing the spirit of unity and resilience necessary during such times. Just as in your past work, the essence of effective community support often lies in the dedication to both local impact and global cooperation.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- section 4 ended here -->
  <!-- section 5 started here -->
  <section class="pt-28">
    <div class="bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 px-4 mb-12 py-8">
      <h1 class="text-center text-4xl pt-8 pb-10">
        Expanding Emergency Services
    </h1>

      <div class="flex flex-wrap px-8">
        <div class="w-full md:w-1/2 p-2 px-12">
          <p class="text-[17px] font-roboto">
            The Edhi Foundation's response to the COVID-19 pandemic involved a massive expansion of their emergency services, designed to meet the growing needs of the communities they serve. Recognizing the urgency of the situation, the foundation swiftly increased the number of available ambulances and trained additional volunteers to ensure rapid medical attention could be delivered across both urban and rural areas. This proactive expansion was critical in managing the increased demand for emergency care during the pandemic's peak.

            <br /><br />Moreover, the foundation facilitated extensive distribution of personal protective equipment (PPE) and essential medical supplies to frontline workers and vulnerable populations. By securing and providing these vital resources, Edhi helped mitigate the spread of the virus and supported the safety of healthcare workers and patients alike. Their efforts were pivotal in strengthening the overall resilience of the healthcare system during an unprecedented global health crisis.

          </p>
        </div>
        <div class="w-full md:w-1/2 p-2 px-8">
          <p class="text-[17px] font-roboto">
            In addition to direct medical assistance, Edhi Foundation also launched public health campaigns to educate the populace about COVID-19 prevention and safety protocols. These campaigns were instrumental in raising awareness and encouraging community-wide practices that curbed the spread of the virus, demonstrating the foundation's commitment to comprehensive health initiatives.
            <br /><br />Lastly, the foundation's ongoing support to other nations, particularly India, during their times of need highlights Edhi's role as a beacon of international humanitarian aid. Their willingness to cross borders to assist, even amid global turmoil, underscores a deep-rooted commitment to global solidarity and the universal goal of health for all. This global outreach not only alleviates immediate suffering but also fosters long-term partnerships and mutual support between nations.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- section 5 ended here -->
  <!-- slider section started -->
  <section class="md:pb-28 pb-[320px] pt-4">
    <ServiceSlider
      heading="Children Services"
      description="Empowering children's futures with Edhi Foundation's care, providing essential support and educational opportunities to nurture young minds."
      img1="/images/covid-19/covid-19-1.jpg"
      img2="/images/covid-19/covid-19-2.jpg"
      img3="/images/covid-19/covid-19-3.jpg"
      img4="/images/covid-19/covid-19-4.jpg"
      img5="/images/covid-19/covid-19-1.jpg"
      img6="/images/covid-19/covid-19-2.jpg"
    />
  </section>
  <!-- slider section ended -->
  <!-- last section started -->
  <div class="text-center pb-12">
    <h1 class="text-black text-3xl font-bold">
        Witness Our Impact
    </h1>
    <br />

    <div class="sm:grid-cols-1 px-8">
      <div class="text-center mb-4">
        <p class="text-center text-[17px] font-roboto">
            Watch our videos to see Edhi Foundation's dedicated teams in action, providing essential aid during the COVID-19 crisis.
        </p><br />
      </div>
    </div>
    <div class="videos flex justify-center">
      <iframe
        class="video rounded"
        src="https://www.youtube.com/embed/gtkeoFPWnTo?si=Us608z5es5uSl3Nh"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <style>
      .video {
        width: 80vw;
        height: 90vh;
      }
      @media only screen and (max-width: 800px) {
        .video {
          width: 95vw;
          height: 50vh;
        }
      }
    </style>
  </div>
  <!-- last section ended -->
  <!-- faq section started -->
  <section class="text-center pt-10">
    <h1 class="text-3xl font-bold mb-6 text-center">
      Frequently Asked Questions
    </h1>
    <h6 class="font-roboto">
      Explore our FAQs for clear insights on giving, eligibility, and the
      positive impact <br /> your contribution can make in transforming lives.
    </h6>
  </section>

  <section class="section-sm container max-w-4xl">
    <!-- ### Accordion -->

    <Accordion
      className="text-justify"
      client:load
      title="How does Edhi Foundation aid adoption for abandoned newborns?"
    >
      <p>
        The Edhi Foundation places exclusive cradles outside all Edhi Centers,
        where abandoned newborn babies can be left. After thorough screening and
        background checks, suitable childless couples are selected for adoption.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="What is the process for adopting a baby through the Edhi Foundation?"
    >
      <p>
        Prospective parents are rigorously screened by Bilquis Edhi, who ensures
        they are suitable for adoption. Once approved, they are matched with an
        abandoned baby from Edhi Homes.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="How does Edhi Foundation ensure abandoned babies' well-being pre-adoption?"
    >
      <p>
        Abandoned babies left in "Jhoolas" or baby cradles are taken into
        custody by Edhi officials and given shelter in Edhi Homes. They receive
        medical and nursing care before being placed with suitable adopting
        families.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="How does the Edhi Foundation handle babies left in garbage dumps outside Karachi?"
    >
      <p>
        Babies left in garbage dumps outside Karachi are air-lifted to the
        central nursery in Karachi, where they receive medical and nursing care
        before being considered for adoption.
      </p>
    </Accordion>
  </section>
  <!-- faq section ended -->
</Base>
