---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import Accordion from "@/shortcodes/Accordion";
const graveyard = await getEntry("graveyard", "-index");
const { Content } = await graveyard.render();
const { title, description, meta_title } = graveyard.data;
import ServiceSlider from "@/components/ServiceSlider.astro";
---

<Base title={title} meta_title={meta_title} description={description}>
  <!-- <--heading started here -->
  <section
    class="relative bg-[url(/images/graveyard/banner-bg.jpg)] bg-cover bg-center bg-no-repeat pb-12 h-[400px]"
  >
    <div
      class="bg-gradient-to-r from-white to-transparent absolute inset-0 sm:bg-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-r from-white to-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="relative mx-auto max-w-screen-xl px-4 sm:px-6 lg:flex lg:h-screen lg:items-baseline pt-12 lg:px-8"
    >
      <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-left font-primary">
          Graveyard

          <strong class="block font-extrabold text-green-600"> Services</strong>
        </h1>

        <p class="text-lg mt-4 sm:text-xl/relaxed text-left font-roboto">
          Providing compassionate burial services, ensuring dignity and respect
          for the departed.
        </p>

        <div class="mt-8 flex flex-wrap gap-4 text-center">
          <a
            href="https://edhi-donate.tscube.co.in/"
            class="block w-96 rounded bg-green-700 px-12 py-3 text-[18px] font-medium text-white shadow hover:bg-green-600 focus:outline-none focus:ring active:bg-green-600 sm:w-auto"
          >
            Donate Now
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-green-600 border-black p-4">
    <h1 class="text-center text-[20px] text-white pb-2 font-roboto">
      Prophet(PBUH) Said-When the human being dies, his deeds come to an end
      except for three: ongoing charity, beneficial knowledge, or a righteous
      child who prays for him.

      <p class="text-center text-white">(Sahih Muslim 1631)</p>
    </h1>
  </div>
    <!-- <--heading ended here -->
    <!-- section 1 started here -->
    <section>
      <div class="mx-auto max-w-screen-xl px-4 pt-10 sm:px-6 sm:py-16 lg:px-8">
        <div class="max-w-3xl"></div>

        <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
          <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
            <img
              alt=""
              src="/images/graveyard/graveyard-1.jpg"
              class="absolute inset-0 h-full w-full object-cover rounded"
            />
          </div>

          <article class="space-y-4 text-gray-600 pt-20 pb-20">
            <h2 class="text-3xl font-bold sm:text-4xl pb-2">
              Largest Burial Network
            </h2>

            <p class="text-[17px] font-roboto">
              Edhi Foundation's burial network is the largest in Pakistan,
              offering dignified burials for unclaimed bodies and coffins. With
              graveyards located in cities such as Karachi, Lahore, and
              Rawalpindi, as well as in New York, USA, thousands find their
              final resting place with us. <br /><br />Our commitment to
              providing respectful burials extends across borders, ensuring that
              all individuals receive proper farewell rites, regardless of
              location or circumstance.
            </p>
          </article>
        </div>
      </div>
    </section>
    <!-- section 1 ended here -->
    <!-- section 2 started here -->
    <section>
      <div class="mx-auto max-w-screen-xl px-4 sm:px-6 pt-6 lg:px-8">
        <!-- <div class="max-w-3xl"></div> -->

        <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
          <article class="space-y-4 text-gray-600 pt-20 pb-20">
            <h2 class="text-3xl font-bold sm:text-4xl pb-2">
              World Record in Burial Services
            </h2>

            <p class="text-[17px] font-roboto">
              Mr. Edhi's remarkable dedication to providing the last prescribed
              bath (Ghusal) for over 58,000 deceased individuals and unclaimed
              coffins is recognized worldwide. His unwavering commitment to
              upholding proper burial rites reflects the Foundation's
              deep-rooted values of honoring the departed with dignity, respect,
              and compassion. <br /><br /> This extraordinary feat exemplifies the
              tireless efforts of Edhi Foundation in serving humanity with unwavering
              devotion.
            </p>
          </article>
          <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
            <img
              alt=""
              src="/images/graveyard/graveyard-2.jpg"
              class="absolute inset-0 h-full w-full object-cover rounded"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- section 2 ended here -->
    <!-- section 3 started here -->
    <section class="pb-10 pt-16">
      <div class="max-w-7xl mx-auto px-5 sm:px-10 md:px-12 lg:px-5">
        <div
          class="align-middle bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 rounded-lg p-8 md:p-10 py-14 lg:p-14 flex flex-col md:flex-row items-center justify-center text-center md:text-left md:justify-start md:items-start gap-8"
        >
          <div class="md:w-2/5 align-middle">
            <h5
              class="pt-10 text-center text-xl sm:text-4xl md:text-3xl xl:text-6xl text-black dark:text-white font-display font-bold leading-tight"
            >
              Get Involved
            </h5>
          </div>
          <div class="flex flex-col md:flex-1 space-y-8">
            <p class="text-gray-700 dark:text-gray-300 text-2xl font-roboto">
              Take the next step to making a difference – support Edhi
              Foundation's humanitarian efforts!
            </p>
            <div class="text-[20px] flex justify-center md:justify-start">
              <a
                href="https://edhi-donate.tscube.co.in/"
                class="h-12 px-5 rounded-md flex items-center bg-green-700 text-white"
              >
                Donate Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section 3 ended here -->
    <!-- section 4 started here -->

    <section>
      <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="max-w-3xl"></div>

        <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
          <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
            <img
              alt=""
              src="/images/graveyard/graveyard-3.jpg"
              class="absolute inset-0 h-full w-full object-cover rounded"
            />
          </div>

          <article class="space-y-4 text-gray-600 pt-20 pb-20">
            <h2 class="text-3xl font-bold sm:text-4xl pb-2">
              Burial Support Agreements
            </h2>

            <p class="text-[17px] font-roboto">
              Cities like Karachi, Lahore, and Rawalpindi annually contract with
              Edhi Foundation to bury unidentified bodies from incidents like
              drownings, homicides, or road accidents. Edhi Foundation ensures
              that individuals who cannot afford burial rites receive shrouds
              and coffin boxes at no cost, providing a compassionate and
              respectful burial.
            </p>
          </article>
        </div>
      </div>
    </section>
    <!-- section 4 ended here -->
    <!-- section 5 started here -->
    <section class="pt-28">
      <div class="bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 px-4 mb-12 py-8">
        <h1 class="text-center text-4xl pt-8 pb-10">
          Transportation Services and Record-Breaking Burials
        </h1>

        <div class="flex flex-wrap px-8">
          <div class="w-full md:w-1/2 p-2 px-12">
            <p class="text-[17px] font-roboto">
              Apart from providing burial services, Edhi Foundation also helps
              transport deceased individuals within Pakistan and abroad. This
              ensures that loved ones can be laid to rest in their desired
              location, regardless of distance. The Foundation's transportation
              services play a crucial role in reuniting families and honoring
              the wishes of the deceased and their relatives. <br /><br />In
              addition to facilitating transportation, Edhi Foundation has
              achieved a remarkable feat by burying a record-breaking number of
              58,261 unclaimed and abandoned bodies. Each burial is conducted
              with utmost care and respect, reflecting the Foundation's
              unwavering commitment to providing dignified final rites for every
              individual, regardless of their circumstances or background.
            </p>
          </div>
          <div class="w-full md:w-1/2 p-2 px-8">
            <p class="text-[17px] font-roboto">
              This monumental effort underscores the Foundation's dedication to
              upholding the sanctity of life, even in death. By ensuring that
              each person is laid to rest with dignity and respect, Edhi
              Foundation honors the inherent value and worth of every human
              being, regardless of their socioeconomic status or circumstances. <br
              /><br /> Furthermore, the Foundation's record-breaking burials serve
              as a testament to its tireless efforts in serving humanity and alleviating
              suffering. Through its compassionate and selfless work, Edhi Foundation
              continues to make a profound impact on the lives of countless individuals
              and families, providing solace and comfort during their time of need.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- section 5 ended here -->
    <!-- slider section started -->
    <section class="md:pb-28 pb-[320px] pt-4">
      <ServiceSlider
        heading="Graveyard Services"
        description="Respectful burial assistance by Edhi Foundation's compassionate service, ensuring dignity and care in final rites for the departed."
        img1="/images/graveyard/graveyard-1.jpg"
        img2="/images/graveyard/graveyard-2.jpg"
        img3="/images/graveyard/graveyard-3.jpg"
        img4="/images/graveyard/graveyard-6.jpg"
        img5="/images/graveyard/graveyard-4.jpg"
        img6="/images/graveyard/graveyard-5.JPG"
      />
    </section>
    <!-- slider section ended -->
    <!-- last section started -->
    <div class="text-center pb-12">
      <h1 class="text-black text-3xl font-bold">Interfaith Burial Services</h1>
      <br />

      <div class="sm:grid-cols-1 px-8">
        <div class="text-center mb-4">
          <p class="text-center text-[17px] font-roboto">
            Edhi Foundation offers burial services in accordance with religious
            rites, including those for non-Muslims, with assistance from
            churches or temples. Larger air-conditioned mortuaries in Karachi
            temporarily house unidentified bodies until burial arrangements are
            made.
          </p><br />
        </div>
      </div>
      <div class="videos flex justify-center">
        <iframe
          class="video rounded"
          src="https://www.youtube.com/embed/gtkeoFPWnTo?si=Us608z5es5uSl3Nh"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <style>
        .video {
          width: 80vw;
          height: 90vh;
        }
        @media only screen and (max-width: 800px) {
          .video {
            width: 95vw;
            height: 50vh;
          }
        }
      </style>
    </div>
    <!-- last section ended -->
    <!-- faq section started -->
    <section class="text-center pt-10">
      <h1 class="text-3xl font-bold mb-6 text-center">
        Frequently Asked Questions
      </h1>
      <h6 class="font-roboto">
        Explore our FAQs for clear insights on giving, eligibility, and the
        positive impact <br /> your contribution can make in transforming lives.
      </h6>
    </section>

    <section class="section-sm container max-w-4xl">
      <!-- ### Accordion -->

      <Accordion
        className="text-justify"
        client:load
        title="How does Edhi Foundation assist in burial arrangements?"
      >
        <p>
          Edhi Foundation helps arrange burial plots, coordinates
          transportation of the deceased, and manages paperwork related to
          burial permits and certificates.
        </p>
      </Accordion>
      <Accordion
        className="text-justify"
        client:load
        title="What is the process for requesting graveyard services from Edhi Foundation?"
      >
        <p>
          To request graveyard services from Edhi Foundation, individuals or
          families can contact their local Edhi center or helpline number to
          initiate the process.
        </p>
      </Accordion>
      <Accordion
        className="text-justify"
        client:load
        title="Are there additional services provided by Edhi Foundation for grieving families?"
      >
        <p>
          In addition to burial services, Edhi Foundation offers emotional
          support and counseling for grieving families, helping them cope with
          the loss of their loved ones.
        </p>
      </Accordion>
      <Accordion
        className="text-justify"
        client:load
        title="How does Edhi Foundation ensure the maintenance and upkeep of graveyards?"
      >
        <p>
          Edhi Foundation regularly maintains and cleans graveyards under its
          care, ensuring a respectful and tidy environment for the deceased
          and their families.
        </p>
      </Accordion>
      <!-- faq section ended -->
    </section>
  </div>
</section>
    <!-- faq section ended -->
</Base>
