---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import Image from "node_modules/astro/components/Image.astro";
const missingpersonservices = await getEntry(
  "missing-person-services",
  "-index"
);
const { Content } = await missingpersonservices.render();
import Accordion from "@/shortcodes/Accordion";
const { title, description, meta_title } = missingpersonservices.data;
import ServiceSlider from "@/components/ServiceSlider.astro";
---

<Base title={title} meta_title={meta_title} description={description}>
  <!-- <--heading started here -->
  <section
    class="relative bg-[url(/images/missing-person/missingperson-4.jpg)] bg-cover bg-center bg-no-repeat pb-12 h-[400px]"
  >
    <div
      class="bg-gradient-to-r from-white to-transparent absolute inset-0 sm:bg-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-r from-white to-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="relative mx-auto max-w-screen-xl px-4 sm:px-6 lg:flex lg:h-screen lg:items-baseline pt-12 lg:px-8"
    >
      <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-left font-primary">
          Missing Person
          <strong class="block font-extrabold text-green-600"> Services</strong>
        </h1>

        <p class="text-lg mt-4 sm:text-xl/relaxed text-left font-roboto">
          Bringing families back together: Edhi Foundation's Missing Person
          Service reunites lost loved ones with their families.
        </p>

        <div class="mt-8 flex flex-wrap gap-4 text-center">
          <a
            href="https://edhi-donate.tscube.co.in/"
            class="block w-96 rounded bg-green-700 px-12 py-3 text-[18px] font-medium text-white shadow hover:bg-green-600 focus:outline-none focus:ring active:bg-green-600 sm:w-auto"
          >
            Donate Now
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-green-600 border-black p-4">
    <h1 class="text-center text-[20px] text-white pb-2 font-roboto">
      Who say, when struck by a disaster, “Surely to Allah we belong and to Him
      we will ˹all˺ return.”
    </h1>
    <p class="text-center text-white"></p>
  </div>
  <!-- <--heading ended here -->
  <!-- section 1 started here -->
  <section>
    <div class="mx-auto max-w-screen-xl px-4 pt-10 sm:px-6 sm:py-16 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/missing-person/missingperson-4.jpg"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>

        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">
            Search and Rescue Efforts
          </h2>

          <p class="text-[17px] font-roboto">
            Edhi Foundation conducts search and rescue operations to locate
            missing children and mentally handicapped individuals who have
            become separated from their families. <br /><br /> Utilizing its own
            wireless network, state radio and television channels, as well as local
            announcements and press advertisements, the Foundation endeavors to reunite
            thousands of individuals with their loved ones.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- section 1 ended here -->
  <!-- section 2 started here -->
  <section>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 pt-6 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">
            Reuniting Families
          </h2>

          <p class="text-[17px] font-roboto">
            Through diligent efforts and coordinated outreach, Edhi Foundation
            helps reconnect missing persons with their families. Whether it's
            through utilizing various communication channels or leveraging its
            extensive network, the Foundation is committed to bringing solace to
            families by facilitating the safe return of their missing loved
            ones.
          </p>
        </article>
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/missing-person/missingperson-1.JPG"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- section 2 ended here -->
  <!-- section 3 started here -->
  <section class="pb-10 pt-16">
    <div class="max-w-7xl mx-auto px-5 sm:px-10 md:px-12 lg:px-5">
      <div
        class="align-middle bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 rounded-lg p-8 md:p-10 py-14 lg:p-14 flex flex-col md:flex-row items-center justify-center text-center md:text-left md:justify-start md:items-start gap-8"
      >
        <div class="md:w-2/5 align-middle">
          <h5
            class="pt-10 text-center text-xl sm:text-4xl md:text-3xl xl:text-6xl text-black dark:text-white font-display font-bold leading-tight"
          >
            Get Involved
          </h5>
        </div>
        <div class="flex flex-col md:flex-1 space-y-8">
          <p class="text-gray-700 dark:text-gray-300 text-2xl font-roboto">
            Take the next step to making a difference – support Edhi
            Foundation's humanitarian efforts!
          </p>
          <div class="text-[20px] flex justify-center md:justify-start">
            <a
              href="https://edhi-donate.tscube.co.in/"
              class="h-12 px-5 rounded-md flex items-center bg-green-700 text-white"
            >
              Donate Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section 3 ended here -->
  <!-- section 4 started here -->

  <section>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/missing-person/missingperson-3.jpg"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>

        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">
            Support for Families of Missing Persons
          </h2>

          <p class="text-[17px] font-roboto">
            In addition to locating missing individuals, Edhi Foundation
            provides support and assistance to the families affected by their
            absence. By offering guidance, counseling, and practical assistance,
            the Foundation strives to alleviate the emotional and practical
            challenges faced by families during such difficult times.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- section 4 ended here -->
  <!-- section 5 started here -->
  <section class="pt-28">
    <div class="bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 px-4 mb-12 py-8">
      <h1 class="text-center text-4xl pt-8 pb-10">
        Global Coordination for Missing Persons
      </h1>

      <div class="flex flex-wrap px-8">
        <div class="w-full md:w-1/2 p-2 px-12">
          <p class="text-[17px] font-roboto">
            Edhi Foundation helps not only in Pakistan but also reaches out to
            Pakistanis living abroad who have missing family members. They work
            closely with Pakistan Embassies or Foundation offices in other
            countries to ensure that families get help no matter where they are.
            This global coordination means that the search for missing persons
            doesn't stop at borders, giving hope and support to families no
            matter where they live.
            <br /><br />By partnering with embassies and Foundation offices
            worldwide, Edhi Foundation ensures that missing person cases are
            handled effectively and efficiently. They provide assistance and
            resources to families who are searching for their loved ones,
            offering guidance and support throughout the process.
          </p>
        </div>
        <div class="w-full md:w-1/2 p-2 px-8">
          <p class="text-[17px] font-roboto">
            This international collaboration allows Edhi Foundation to extend
            its reach and provide vital assistance to families in need. Whether
            it's through sharing information, coordinating search efforts, or
            offering emotional support, the Foundation strives to reunite
            families and bring closure to those affected by the absence of their
            loved ones. <br /><br /> Ultimately, Edhi Foundation's commitment to
            global coordination for missing persons reflects its dedication to serving
            humanity and alleviating the suffering of families affected by separation.
            Through their tireless efforts, they ensure that no family is left alone
            in their search for their missing loved ones, regardless of where they
            may be in the world.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- section 5 ended here -->
  <!-- slider section started -->
  <section class="md:pb-28 pb-[320px] pt-4">
    <ServiceSlider
      heading="Missing Person Service"
      description="Helping reunite families through Edhi Foundation's support, providing dedicated resources and assistance to trace and recover lost loved ones."
      img1="/images/missing-person/missingperson-2.jpg"
      img2="/images/missing-person/missingperson-5.jpg"
      img3="/images/missing-person/missingperson-6.jpg"
      img4="/images/missing-person/missingperson-4.jpg"
      img5="/images/missing-person/missingperson-3.jpg"
      img6="/images/missing-person/missingperson-1.JPG"
    />
  </section>
  <!-- slider section ended -->
  <!-- last section started -->
  <div class="text-center pb-12">
    <h1 class="text-black text-3xl font-bold">
      Identifying Unclaimed Individuals
    </h1>
    <br />

    <div class="sm:grid-cols-1 px-8">
      <div class="text-center mb-4">
        <p class="text-center text-[17px] font-roboto">
          Edhi Foundation's commitment to locating missing persons extends to
          unidentified individuals as well. The Foundation diligently works to
          identify unclaimed bodies, utilizing cold mortuaries and various
          identification methods to establish contact with next of kin and
          facilitate proper burial or repatriation.
        </p><br />
      </div>
    </div>
    <div class="videos flex justify-center">
      <iframe
        class="video rounded"
        src="https://www.youtube.com/embed/gtkeoFPWnTo?si=Us608z5es5uSl3Nh"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <style>
      .video {
        width: 80vw;
        height: 90vh;
      }
      @media only screen and (max-width: 800px) {
        .video {
          width: 95vw;
          height: 50vh;
        }
      }
    </style>
  </div>
  <!-- last section ended -->
  <!-- faq section started -->
  <section class="text-center pt-10">
    <h1 class="text-3xl font-bold mb-6 text-center">
      Frequently Asked Questions
    </h1>
    <h6 class="font-roboto">
      Explore our FAQs for clear insights on giving, eligibility, and the
      positive impact <br /> your contribution can make in transforming lives.
    </h6>
  </section>

  <section class="section-sm container max-w-4xl">
    <!-- ### Accordion -->

    <Accordion
      className="text-justify"
      client:load
      title="What services does Edhi Foundation offer in relation to missing persons?"
    >
      <p>
        Edhi Foundation provides comprehensive support for missing persons,
        including search operations, coordination with authorities, and family
        counseling.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="How does Edhi Foundation initiate the search process for a missing person?"
    >
      <p>
        Edhi Foundation typically starts by gathering information about the
        missing person, including their physical description, last known
        location, and any relevant circumstances. They then deploy search teams
        and utilize their extensive network to locate the individual.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="How can someone avail Edhi Foundation's services for a missing person case?"
    >
      <p>
        Families or concerned individuals can reach out to Edhi Foundation
        through their hotline, walk-in centers, or through their website to
        report a missing person and initiate the process of assistance.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="Are there any fees associated with Edhi Foundation's services for missing persons?"
    >
      <p>
        No, Edhi Foundation's services for missing persons are provided free of
        charge, reflecting their commitment to humanitarian assistance without
        financial barriers.
      </p>
    </Accordion>
  </section>
</Base>
<!-- faq section ended -->
