---
import Base from "@/layouts/Base.astro";
---
<Base>
    <section class="max-w-5xl mx-auto px-4 py-8">
        <div class="py-12">
<h2 class="text-green-500 pb-8">Overview</h2>
<p class="font-roboto">
    Edhi Foundation values your decision to support us through your donations and trusts us with your contributions. We are committed to safeguarding your personal data and ensuring its confidentiality.<br><br>
    
    This privacy statement is designed to inform you about our reasons for collecting and using your personal data, the circumstances under which we might share your personal data with other organizations, and your rights regarding your personal data. <br><br>
    
    We strive to be transparent and truthful in our handling of your personal data. This ensures that you understand how and why we use your data, allowing you to effectively exercise your rights regarding your personal data.
    <br><br>
    We recognize the importance of privacy and are dedicated to protecting the privacy of both our current and prospective donors, as well as visitors to our website. Please note that this Privacy Policy applies only to Edhi Foundation. By sharing information with Edhi Foundation or visiting our site, you agree to the practices described in this Privacy Policy.</p></div>
    <div class="py-12">
    <h2 class="text-green-500 pb-8">Use of Cookies
    </h2>
<p class="font-roboto">
    

    Edhi Foundation uses cookies like many other websites. Cookies are small text files stored on your device when you visit certain websites. The primary purpose of cookies is to enhance your experience while using our online services. Cookies facilitate the donation process and assist us in analyzing site usage statistically. They also help in customizing our site's content, layout, and services.<br><br>


    You can choose to accept or decline cookies; however, disabling cookies may prevent you from using all the interactive features of our site. These cookies make websites function more effectively, so it is advisable to keep them enabled.</p></div>
<div class="py-12">
    <h2 class="text-green-500 pb-8">Email
    </h2>
<p class="font-roboto">
    Only when voluntarily submitted do we learn the email addresses and other personally identifiable information about visitors to our site. We prioritize the security of your personal data and employ various security measures to protect your personally identifiable information from unauthorized access both inside and outside the organization. <br><br>If you subscribe to Edhi Foundation's email service, we will periodically send you information about our global projects and current appeals and campaigns. <br><br>If you no longer wish to receive email marketing information from us, you can click on the unsubscribe link at the bottom of every Edhi Foundation email.
    </p></div>
    <div class="py-12">
    <h2 class="text-green-500 pb-8">Sharing Information

    </h2>
<p class="font-roboto">
    We utilize profiling to aid our fundraising efforts by offering an enhanced experience to our supporters. We will not sell, share, or rent your personal information in any manner except when you have granted us permission or when required by law.
    

</p></div>
<div class="py-12">
    <h2 class="text-green-500 pb-8">Reasons for Collecting Your Data


    </h2>
<p class="font-roboto">
    The primary reasons for collecting your personal data include:

</p>
<ul>
 <li>- Processing donations according to donors' instructions.</li>
 <li>- Processing GiftAid.</li>
 <li>- Sending marketing materials via email, phone, SMS, or post, with donor consent.</li>
 <li>- Maintaining a record of your donations over time and expediting future donation processes.</li>
 <li>- Addressing your inquiries, requests, and responses related to our projects.</li>  
 <li>- Sending confirmations and reports regarding your donations.</li>
 <li>- Soliciting your feedback on our charity services, if permitted by you.</li> 
 </ul></div>
<div class="py-12">
    <h2 class="text-green-500 pb-8">How Long Do We Keep Your Personal Data?


    </h2>
<p class="font-roboto">
    Edhi Foundation maintains personal data according to our data retention policy. The duration for which we retain your personal data depends primarily on the purpose of retention and our statutory and contractual obligations. For example, we are required to retain records for GiftAid purposes.

</p></div>
<div class="py-12">
    <h2 class="text-green-500 pb-8">Your Authority Over Your Data


    </h2>
    <ul>
        <li class="pb-8">
            <h4>Direct Marketing</h4>
            <ul>
                <li>If you wish to cease processing of your personal data for any direct marketing purposes, including postal marketing and profiling, please contact our supporter relations team:</li>
                <li>Contact: 02077232050 or email at <a href="mailto:info@edhiuk.org">info@edhiuk.org</a></li>
            </ul>
        </li>
        <li class="pb-8">
            <h4>Consent Withdrawal</h4>
            <ul>
                <li>You can withdraw your consent for the use of your personal data at any time. Edhi Foundation ensures clear and comprehensive withdrawal instructions.</li>
            </ul>
        </li>
        <li class="pb-8">
            <h4>Accessing Your Data</h4>
            <ul>
                <li>You have the right to access the personal data we hold about you and can request details and a copy at any time.</li>
            </ul>
        </li>
        <li class="pb-8">
            <h4>Objection & Restriction Rights</h4>
            <ul>
                <li>You have the right to object to and restrict the collection and use of your data at any time. We will process your request immediately.</li>
            </ul>
        </li>
        <li class="pb-8">
            <h4>Data Manageability Rights</h4>
            <ul>
                <li>You may request a copy of your personal data, which we can transfer directly to another organization, at any time.</li>
            </ul>
        </li>
        <li class="pb-8">
            <h4>Erasure Rights</h4>
            <ul>
                <li>You have the right to request the erasure of your personal data that we process with your consent.</li>
            </ul>
        </li>
        <li class="pb-8">
            <h4>Data Rectification Rights</h4>
            <ul>
                <li>If your personal data needs updating, you have the right to have it corrected.</li>
            </ul>
        </li>
        <li >
            <h4>Contact Information</h4>
            <ul>
                <li>For further information and to exercise your rights, contact us at 021-32310066 or email at <a href="mailto:info@edhiuk.org">info@edhiuk.org</a></li>
                <li>Post: Edhi Foundation, Edhi Avenue, Karachi, Pakistan</li>
            </ul>
        </li>
    </ul>
    
</div>


<div class="py-12">
    <h2 class="text-green-500 pb-8">Privacy Policy Changes


    </h2>
<p class="font-roboto">
    Edhi Foundation may modify or update this privacy policy periodically based on our needs and your feedback. This privacy policy was last updated on 17th May 2024. <br><br>
    For any questions about our website or Privacy Policy, please contact us at <a class="font-bold" href="tel:02077232050" >02077232050</a> 

</p></div>



</section>
</Base>