---
import Base from "@/layouts/Base.astro";
---
<Base>
    <section class="max-w-5xl mx-auto px-4 py-8">
        <div class="py-12">
<h2 class="text-green-500 pb-8">Overview</h2>
<p class="font-roboto">
    <ul >
        <li >1.Your use constitutes acceptance of these terms and conditions as of the date of your first use of the site.</li>
        <li>2.Edhi Foundation reserves the right to change these terms and conditions at any given time.</li>
        <li>3.If these terms and conditions are not accepted in full, the use of this site must be terminated immediately.</li>
        <li>4.These terms and conditions shall be governed and construed in accordance with the laws of Pakistan..</li>
        <li>5.Any disputes shall be subject to the exclusive jurisdiction of the Courts of Pakistan.</li>  
        
        </ul></p></div>
    <div class="py-12">
    <h2 class="text-green-500 pb-8">Accessing the Site
    </h2>
<p class="font-roboto">
    Edhi Foundation does not warrant that the functions of this website will remain error-free, that defects will be corrected, or that this site/server is free of viruses or bugs. <br><br> 

    You agree to use this site only for lawful purposes and in a manner which does not infringe the rights, restrict, or inhibit the use and enjoyment of the site by any third party. <br><br>
    
    This site and the information, names, images, pictures, and logos regarding or relating to Edhi Foundation are provided "as is" without any representation or endorsement made and without warranty of any kind whether express or implied. <br><br>
    
    This site may contain links to other sites and resources provided by third parties. These links are for your information only. Edhi Foundation takes no responsibility for the accuracy and authenticity of it, as we have no control over the content of those sites. <br><br>
    
    We take no responsibility if any loss or damage occurs by accessing those links. Any concerns regarding an external link should be directed to us using our general enquiry contact form or email info@edhiuk.org <br><br>
    
    You may link to our web pages, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. <br><br>
    
    The site must not be framed on any other site. We reserve the right to withdraw linking permission without notice. <br><br>
    
    The material presented on this site is provided without any guarantees or warranties as to its accuracy. To the extent permitted by law, we, our affiliated organisations, and any connected third parties hereby exclude: <br><br>
    
    All conditions, warranties, and other terms which might otherwise be imposed by statute or common law. <br><br>
    
    Liability for any loss or damage, whether direct, indirect, or consequential, incurred by any user in connection with the site. <br><br>
    
    For any loss or damage, whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable. <br><br>
    
    This does not affect our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter. <br><br>   

    Edhi Foundation uses cookies like many other websites. Cookies are small text files stored on your device when you visit certain websites. The primary purpose of cookies is to enhance your experience while using our online services. Cookies facilitate the donation process and assist us in analyzing site usage statistically. They also help in customizing our site's content, layout, and services.<br><br>


    You can choose to accept or decline cookies; however, disabling cookies may prevent you from using all the interactive features of our site. These cookies make websites function more effectively, so it is advisable to keep them enabled.</p></div>
<div class="py-12">
    <h2 class="text-green-500 pb-8">Refund Policy   
    </h2>
<p class="font-roboto">
    At Edhi Foundation, we strive to ensure that you have a trouble-free experience; however, we recognize that errors can happen. Under Charity Law, charities are not permitted to refund donations, other than in specific circumstances. All refunds will be made in the same form of payment originally used for donating.
<br><br>
Note: Under no circumstances are cash donations refunded unless the original cash receipt is presented, and the refund will be made by cheque only.
    </p></div>
    <div class="py-12">
    <h2 class="text-green-500 pb-8">Copyright Restrictions  

    </h2>
<p class="font-roboto">
    Commercial use or publication of all or any item displayed is strictly prohibited without prior authorization from Edhi Foundation. Nothing contained herein shall be construed as conferring any licence by Edhi Foundation to use any item displayed. <br><br>

Documents may be copied for personal use only on the condition that copyright and source indications are also copied, no modifications are made and the document is copied entirely. All rights are reserved on these documents and permission to copy them must be requested from the copyright owners.
    

</p></div>




</section>
</Base>