---
import Base from "@/layouts/Base.astro";
 
---
<Base>
<section>
        <div class="text-center py-8">
            <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias quod quibusdam cumque et quis quas quia minima neque consequatur distinctio.</th6>
            <h3 class="pt-2">This is Heading</h3>
            
        </div>
        <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 pt-6 lg:px-8">
          <div class="max-w-3xl"></div>
    
          <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-40">
            <article class="space-y-4 text-gray-600 pt-20 pb-20">
              <h2 class="text-3xl font-bold sm:text-4xl pb-2">
                Air Ambulance Service
              </h2>
    
              <p class="text-[17px] font-roboto">
                The Edhi Air Ambulance Service is equipped with two planes and a
                helicopter, all set to provide rapid assistance during natural
                disasters. Their mission is to quickly airlift and transport injured
                or stranded individuals to nearby hospitals in times of crisis. With
                a focus on swift response and efficient evacuation, they play a
                crucial role in saving lives during emergencies. <br /><br />Their
                dedicated team ensures that help reaches those in need as quickly as
                possible, offering crucial support when it's needed most. With their
                fleet of aircraft, they stand ready to serve communities facing
                unforeseen calamities with professionalism and compassion.
              </p>
            </article>
            <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
              <img
                alt=""
                src="/images/test.png"
                class="absolute inset-0 h-full w-full object-fit rounded"
              />
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="mx-auto max-w-screen-2xl px-4 pt-10 sm:px-6 sm:py-16 lg:px-8">
          <div class="max-w-3xl"></div>
    
          <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
              <img
                alt=""
                src="/images/test-2.png"
                class="absolute inset-0 h-full w-full object-fit rounded"
              />
            </div>
    
            <article class="space-y-4 text-gray-600 pt-20 pb-20">
              <h2 class="text-3xl font-bold sm:text-4xl pb-2">Ambulance Service</h2>
    
              <p class="text-[17px] font-roboto">
                The Edhi Land Ambulance Service started with a used Hillman Pickup
                Truck that was converted into the very first ambulance, named the
                "Poor Patient Ambulance." After sixty years, Edhi's fleet of
                ambulances has expanded tremendously, now boasting over 1800
                vehicles deployed throughout Pakistan.
              </p>
              <p class="text-[17px]">
                From its humble
                beginnings, the service has grown into the largest ambulance fleet
                globally, catering to the medical needs of communities far and wide.
              </p>
              
            </article>
          </div>
        </div>
      </section>
      <section>
          
        <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 pt-6 lg:px-8">
          <div class="max-w-3xl"></div>
    
          <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-40">
            <article class="space-y-4 text-gray-600 pt-20 pb-20">
              <h2 class="text-3xl font-bold sm:text-4xl pb-2">
                Air Ambulance Service
              </h2>
    
              <p class="text-[17px] font-roboto">
                The Edhi Air Ambulance Service is equipped with two planes and a
                helicopter, all set to provide rapid assistance during natural
                disasters. Their mission is to quickly airlift and transport injured
                or stranded individuals to nearby hospitals in times of crisis. With
                a focus on swift response and efficient evacuation, they play a
                crucial role in saving lives during emergencies. <br /><br />Their
                dedicated team ensures that help reaches those in need as quickly as
                possible, offering crucial support when it's needed most. With their
                fleet of aircraft, they stand ready to serve communities facing
                unforeseen calamities with professionalism and compassion.
              </p>
            </article>
            <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
              <img
                alt=""
                src="/images/test.png"
                class="absolute inset-0 h-full w-full object-fit rounded"
              />
            </div>
          </div>
        </div>
      </section>

      <section >
        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 pt-6 lg:px-8">
          <div class="max-w-3xl"></div>
    
          <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <article class="space-y-4 text-gray-600 pt-20 pb-20">
              <h2 class="text-3xl font-bold sm:text-4xl pb-2">
                Air Ambulance Service
              </h2>
    
              <p class="text-[17px] font-roboto">
                The Edhi Air Ambulance Service is equipped with two planes and a
                helicopter, all set to provide rapid assistance during natural
                disasters. Their mission is to quickly airlift and transport injured
                or stranded individuals to nearby hospitals in times of crisis. With
                a focus on swift response and efficient evacuation, they play a
                crucial role in saving lives during emergencies. <br /><br />Their
                dedicated team ensures that help reaches those in need as quickly as
                possible, offering crucial support when it's needed most. With their
                fleet of aircraft, they stand ready to serve communities facing
                unforeseen calamities with professionalism and compassion.
              </p>
            </article>
            <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
              <img
                alt=""
                src="/images/ambulance/ambulance-service-04.jpg"
                class="absolute inset-0 h-full w-full object-cover rounded"
              />
            </div>
          </div>
        </div>
      </section>



      <section class="bg-white dark:bg-gray-900">
        <div class="container max-w-4xl px-6 py-10 mx-auto">
            <h1 class="text-2xl font-semibold text-center text-gray-800 lg:text-3xl dark:text-white">Frequently asked questions</h1>
    
            <div class="mt-12 space-y-8">
                <div class="border-2 border-gray-100 rounded-lg dark:border-gray-700">
                    <button class="flex items-center justify-between w-full p-8">
                        <h1 class="font-semibold text-gray-700 dark:text-white">How i can play for my appoinment ?</h1>
    
                        <span class="text-gray-400 bg-gray-200 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                            </svg>
                        </span>
                    </button>
    
                    <hr class="border-gray-200 dark:border-gray-700">
    
                    <p class="p-8 text-sm text-gray-500 dark:text-gray-300">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eaque nobis, fugit odit omnis fugiat deleniti animi ab maxime cum laboriosam recusandae facere dolorum veniam quia pariatur obcaecati illo ducimus?
                    </p>
                </div>
    
                <div class="border-2 border-gray-100 rounded-lg dark:border-gray-700">
                    <button class="flex items-center justify-between w-full p-8">
                        <h1 class="font-semibold text-gray-700 dark:text-white">Is the cost of the appoinment covered by private health insurance?</h1>
    
                        <span class="text-white bg-blue-500 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                    </button>
                </div>
    
                <div class="border-2 border-gray-100 rounded-lg dark:border-gray-700">
                    <button class="flex items-center justify-between w-full p-8">
                        <h1 class="font-semibold text-gray-700 dark:text-white">Do i need a referral?</h1>
    
                        <span class="text-white bg-blue-500 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                    </button>
                </div>
    
                <div class="border-2 border-gray-100 rounded-lg dark:border-gray-700">
                    <button class="flex items-center justify-between w-full p-8">
                        <h1 class="font-semibold text-gray-700 dark:text-white">What are your opening house?</h1>
    
                        <span class="text-white bg-blue-500 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                    </button>
                </div>
    
                <div class="border-2 border-gray-100 rounded-lg dark:border-gray-700">
                    <button class="flex items-center justify-between w-full p-8">
                        <h1 class="font-semibold text-gray-700 dark:text-white">What can i expect at my first consultation?</h1>
    
                        <span class="text-white bg-blue-500 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </section>






  <section class="mx-auto  w-full max-w-6xl flex flex-wrap justify-items-start py-36 px-2 rounded-xl ">
      <!-- First Div with iframe -->
      <div class="relative z-10 w-full md:w-3/5 bg-white  md:p-0 p-2 flex items-start justify-center md:h-96 h-48">

          <iframe class="w-full md:h-[400px] h-[220px] rounded-2xl" src="https://www.youtube.com/embed/n0nKpOYpw-o?si=kRJRJUn0y42yROyK" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <!-- Second Div with Heading and Paragraph -->
      <div class= "md:rounded-r-xl 	w-full md:w-2/5 bg-green-700  p-2  md:p-8 flex flex-col justify-start md:h-[320px] h-[300px] md:my-[40px] items-start	">

          <h2 class="text-[32px] font-bold mb-[8px] mt-[13px] md:pt-0 pt-10" style="text-align: left !important;
          color: white !important;">Edhi Ambulance</h2>
          <p class="text-lg pb-[22px] text-white">Edhi's "Poor Patient Ambulance" began with a refurbished Hillman Pickup. Now, with 1800 vehicles, it's the world's
            largest ambulance fleet.</p>
          <a
          href="https://edhi-donate.tscube.co.in/"
          class="block w-88 rounded-xl bg-[#D92319] px-8 py-2 text-[18px] font-medium text-white shadow hover:bg-green-600 focus:outline-none focus:ring active:bg-green-600 sm:w-auto "
        >
          DONATE NOW
        </a>
      </div>
      
    
  </section>
</Base>