---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

const managementresources = await getEntry("management-style", "-index");
const { Content } = await managementresources.render();
const { title, description, meta_title } = managementresources.data;
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section-sm">
    <div
      class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
      <!-- <div class="flex flex-col items-start max-w-screen-sm md:flex-row sm:mx-auto">
    <a href="/" class="mb-4 mr-8">
      <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50">
        <svg class="w-12 h-12 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
          <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
        </svg>
      </div>
    </a>
    <div> -->
      <p
        class="mb-2 text-xs font-semibold tracking-wide text-gray-800 uppercase"
      >
        <!-- New History -->
      </p>
      <h2
        class="mb-4 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
        style="margin-top: -60px;margin-bottom:30px;text-align:center"
      >
        Management Style
      </h2>
      <p class="text-base text-gray-700" style="text-align:center">
        Management and spending of funding for varied social welfare based
        divisions, is controlled by Edhi with his son Faisal Edhi and daughter
        Kubra Edhi. Edhi, his son Faisal and daughter Kubra Edhi are personally
        handling all finance related operations of Edhi Foundation. They are
        also playing their role to collect the national and international
        funding. Edhi very much prefers to drive ambulance to shift the patients
        to the hospitals, get funding, and making surprise visits to check
        various Edhi centres, across the country – Pakistan and abroad.
      </p>
    </div>
  </section>
</Base>
