---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import Image from "node_modules/astro/components/Image.astro";
const nationwidenetwork = await getEntry("historical-perspective", "-index");
const { Content } = await nationwidenetwork.render();
const { title, description, meta_title } = nationwidenetwork.data;
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section-sm">
    <div
      class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
      <p
        class="mb-2 text-xs font-semibold tracking-wide text-gray-800 uppercase"
      >
        <!-- New History -->
      </p>
      <h2
        class="mb-4 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
        style="margin-top: -60px;margin-bottom:30px;text-align:left"
      >
         Nation Wide Network
      </h2>
      <p class="text-base text-gray-700" style="text-align:left">
          <b>A. Sattar </b>Edhi has spent over 45 years of his life in the service of humanity. He as established, more or less single handedly, a national welfare network, the Edhi Foundation (EF), which operates from a small headquarter, in a poor locality of Karachi.
        <br>
        <br>
          The simplicity of central office is amazing in view of the wide range of the nation-wide services co-ordinated by Edhi personally with the help of telephones and a handful of assistants. It is, therefore, not easy to manage the strange mixture of complexity of operations and use of administrative communication channels with the limited staff. This has inevitably resulted in the centralisation of policy decisions.
        <br><br>
          However, with the general spread of the services to all parts of the country and an increasing awareness of the public, the way has been paved for greater involvement of communities in the management of welfare services. Edhi displays a remarkable stamina and energy at the advanced age of seventy to keep himself informed about all activities of the Foundation in all parts of Pakistan. He travels in Pakistan and abroad extensively for this purpose and conveys a feeling of being there, when needed.
        <br>
  </p>
    </div>
  </section>
</Base>
