---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import Accordion from "@/shortcodes/Accordion";
import Aboutedhi from "@/components/Aboutedhi.astro";
import Donationcard from "../../layouts/components/donationcard.astro"
const emergencyservicesprogram = await getEntry(
  "emergency-services-program",
  "-index",
);
const { Content } = await emergencyservicesprogram.render();
const { title, description, meta_title } = emergencyservicesprogram.data;
---

<Base title={title} meta_title={meta_title} description={description}>
   <!-- heading started here -->
   <section class="min-h-max bg-white dark:bg-gray-950">
    <div class="absolute top-0 inset-x-0 h-64 flex items-start">

      <div
        class="h-24 w-2/3 bg-gradient-to-br from-green-500 opacity-20 blur-2xl dark:from-green-500 dark:invisible dark:opacity-40"
      >
      </div>
      <div

        class="h-20 w-3/5 bg-gradient-to-r from-green-500 opacity-40 blur-2xl dark:from-green-500 dark:opacity-40"
      >
      </div>
    </div>
    <div
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-2/5 aspect-[2/0.5] bg-gradient-to-br from-green-500 to-green-500 rounded-full opacity-50 blur-2xl"
    >
    </div>
    <div
      class="relative mx-auto pt-32 pb-24 lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5 text-center space-y-10"
    >
      <h1
        class="text-gray-900 dark:text-white mx-auto max-w-5xl font-bold text-4xl/tight sm:text-5xl/tight lg:text-6xl/tight xl:text-7xl/tight"
      >
        Emergency Services Program
      </h1>
      <p class="text-gray-700 dark:text-gray-300 mx-auto max-w-2xl">
        In times of crisis, Edhi Foundation's Emergency Services Program offers
        immediate aid and compassionate relief to those in need.

      </p>
      <div class="flex justify-center items-center flex-wrap mx-auto gap-4">
        <a
          href="https://edhi-donate.tscube.co.in/"
          class="flex items-center h-12 px-6 rounded bg-green-600 text-white border border-green-500"
        >
          Donate Now
        </a>

        <a
          href="#"
          class="flex items-center h-12 px-6 pl-10 pr-10 rounded bg-gray-100 dark:bg-gray-900 text-black dark:text-gray-300 border border-black dark:border-gray-800"
        >
          Sign Up
        </a>
      </div>
    </div>
  </section>,
  <!-- heading ended here -->
  <Donationcard programId={[1, 4, 13, 17]} />

  <!-- providings start here -->
  <section>
    <div
      class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
      <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
        <div class="flex flex-col justify-center">
          <div class="max-w-xl mb-6">
            <h2
              class="max-w-lg font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
            >
              What is Emergency Services <span class="text-green-700"
                >Program?</span
              >

              <br class="hidden md:block" />
              <span class="relative px-1">
                <div
                  class="absolute inset-x-0 bottom-0 h-3 transform -skew-x-12 bg-teal-accent-400"
                >
                </div>
              </span>
            </h2>
            <p class="text-[17px] text-gray-700 md:text-lg font-roboto">
              The Emergency Services Program by Edhi Foundation offers swift
              assistance and relief during times of crisis and urgency. Serving
              as a steadfast pillar of support, it provides immediate aid to
              those facing dire situations. With an unwavering commitment to
              humanity, this program embodies rapid response and compassionate
              care, ensuring that help reaches those in need when they need it
              the most.
              
            </p>
          </div>
          <div class="grid gap-5 row-gap-8 sm:grid-cols-2">
            <div
              class="bg-white border-l-4 border-green-500 shadow-sm border-deep-purple-accent-400"
            >
              <div class="h-full p-5 border border-l-0 rounded-r">
                <p class="text-sm
                 text-gray-900 font-roboto">
                  Edhi Foundation's Emergency Services Program offers rapid
                  response and immediate aid during emergencies, providing
                  critical assistance to those in urgent need.

                </p>
              </div>
            </div>
            <div
              class="bg-white border-l-4 border-green-500 shadow-sm border-deep-purple-accent-400"
            >
              <div class="h-full p-5 border border-l-0 rounded-r">
                <p class="text-sm font-roboto text-gray-900">
                  The program embodies compassion and dedication, ensuring
                  timely relief to individuals facing crises, regardless of
                  their circumstances or background.

                </p>
              </div>
            </div>
          </div>
          <br />
          <div class="text-center">
            <a
              href="https://edhi-donate.tscube.co.in/"
              class="flex justify-center items-center h-12 px-6 rounded-md bg-green-600 text-white border border-green-500"
            >
              Donate Now
            </a>
          </div>
        </div>
        <div class="pt-20">
          <img
            class="object-cover w-full h-100 rounded shadow-lg sm:h-30rem mt-6"
            src="/images/appeals/emergency-1.JPG"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <br /><br />

  <!-- providings ended here -->
  <!-- section-1 area started -->
  <section class="text-center px-8">
    <h1 class="text-green-700 text-4xl font-bold">
      Providing Immediate Aid in Times of Crisis

    </h1>
    <br />
    <div class="sm:grid-cols-1">
      <div class="text-center mb-4">
        <p class="text-[17px] font-roboto">
          Edhi Foundation's Emergency Services Program offers rapid response and
          critical assistance to those facing emergencies, ensuring timely
          relief.
         
        </p><br />
        <div class="border-b-8 border-red-600 w-64 mx-auto my-2 rounded-md">
        </div>
      </div>
      <div class="flex flex-col md:flex-row pt-4">
        <div class="w-full md:w-1/2 border-r-4 border-green-500 pr-4">
          <p class="text-gray-700 text-justify text-[17px] font-roboto">
            Edhi Foundation's Emergency Services Program, with the mission of
            "Providing Immediate Aid in Times of Crisis," is like a helping hand
            during tough times. <br /><br /> This program ensures quick and essential
            help for people facing emergencies, whether it's an accident, natural
            disaster, or unexpected crisis. It's there for everyone, no matter who
            they are, showing care and understanding for every person<br /><br
            />
            During difficult situations, the Emergency Services Program acts fast,
            offering support and comfort to those who urgently need it. It believes
            in helping people without any bias, emphasizing the importance of every
            life and the need for speedy assistance during challenging times.

           
          </p>
        </div>
        <div class="w-full md:w-1/2 pl-4">
          <h5 class="text-green-700 font-bold text-justify pb-2">
            The Prophet (saw) said that “The Believers Shade On The Day Of
            Resurrection Will Be His Sadaqah” (Hadith Tirmidhi)
          </h5>
          <p class="text-gray-700 text-justify text-[17px] font-roboto">
            By supporting this program, you contribute to saving lives and
            easing suffering in communities affected by disasters or
            emergencies. The impact of your donation goes beyond immediate
            relief; it brings positive change to the lives of those going
            through tough situations. <br /><br /> Your support helps Edhi Foundation
            be ready to respond quickly whenever there's a crisis. This preparedness
            ensures that resources are available for immediate use, making a significant
            difference in providing timely help. By being a part of this program,
            you become an essential link in a network that provides comfort, aid,
            and hope to individuals facing their most difficult moments.

          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- section-1 area ended -->

  <br /><br /><br /><br /><br />
  <!-- section-2 area started -->

  <section>
    <h1 class="text-3xl font-bold flex justify-center">
      Preventing Emergency &nbsp; <span class="text-green-700">
        Situations</span
      >

    </h1>
    <br />

    <div class="text-center pb-6 mb-4">
      <p class="text-[17px] font-roboto">
        Support various humanitarian causes such as healthcare, education,
        shelter, and emergency relief through different Lillah options.
      </p>
    </div>
    <div class="border border-gray-300 p-4 pb-4 pt-6">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Public Safety</span>&nbsp;Education
            </h6><br />
            <p class="font-roboto">
              Educate communities on safety measures, such as fire prevention
              and first aid, to minimize the occurrence of emergencies and
              empower individuals to respond effectively in critical situations.

            </p>
            <a href="" class="transition hover:border-green-500 hover:shadow-green-400"></a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Infrastructure</span>&nbsp;Maintenance
            </h6><br />
            <p class="font-roboto">
              Regularly inspect and maintain public infrastructure, such as
              roads and buildings, to prevent accidents and disasters that may
              lead to emergency situations, ensuring community safety.
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Health and Hygiene</span>&nbsp;Practices
            </h6><br />
            <p class="font-roboto">
              Promote good health and hygiene habits within communities,
              reducing the risk of diseases and medical emergencies by fostering
              a culture of cleanliness and preventive healthcare measures.
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Disaster Preparedness</span>&nbsp;Training
            </h6><br />
            <p class="font-roboto">
              Provide training to communities on disaster preparedness,
              including evacuation plans and emergency response drills,
              equipping them to handle natural disasters and unforeseen
              emergencies with confidence.
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Traffic Safety</span>&nbsp;Measures
            </h6><br />
            <p class="font-roboto">
              Implement and enforce traffic safety measures to reduce
              accidents and road-related emergencies, ensuring the well-being
              of individuals and preventing the need for emergency services
              intervention.
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Community</span>&nbsp;Surveillance
            </h6><br />
            <p class="font-roboto">
              Encourage community watch programs and vigilant neighbors to
              identify and address potential safety hazards, fostering a sense
              of collective responsibility and preventing emergencies through
              early intervention and communication.

            </p>
          </div>
        </div>
      </div>
    </div>
    

      <!-- content area ended -->
    </div><br /><br /><br />
    <!-- section-2 area ended -->
    <!-- section-3 area started -->

    <Aboutedhi />

    <!-- section-3 area ended -->
    <!-- faq started -->
    <section class="text-center pt-36">
      <h1 class="text-3xl font-bold mb-6 text-center">
        Frequently Asked Questions
      </h1>
      <h6>
        Explore our FAQs for clear insights on giving, eligibility, and the
        positive impact <br /> your contribution can make in transforming lives.
      </h6>
    </section>
    <section class="section-sm container max-w-2xl">
      <!-- ### Accordion -->

      <Accordion
        className="text-justify"
        client:load
        title="How Emergency Services of the Edhi operate during natural disasters?"
      >
        <p class="font-roboto">
          During natural disasters, the Edhi Foundation's Emergency Services Program mobilizes teams of trained volunteers and staff along with essential resources such as ambulances, medical supplies, and rescue equipment to provide immediate aid to affected communities.          
        </p>
      </Accordion>
      <Accordion
        className="text-justify"
        client:load
        title="How Edhi assist individuals affected by man-made disasters?"
      >
        <p class="font-roboto">
          In the event of accidents, fires, or acts of terrorism, the Emergency Services Program swiftly deploys teams to the affected areas to offer rescue operations, medical care, shelter, and other essential support to those impacted by the crisis.
        </p>
      </Accordion>
      <Accordion
        className="text-justify"
        client:load
        title="What makes the Emergency Services of Edhi unique?"
      >
        <p class="font-roboto">
          The Emergency Services Program of the Edhi Foundation stands out for its round-the-clock availability, rapid response times, and commitment to serving all individuals regardless of their background, nationality, or socioeconomic status.
        </p>
      </Accordion>
      <Accordion
        className="text-justify"
        client:load
        title="How can individuals contribute to the Emergency Services run by the Edhi?"
      >
        <p>
          Individuals can support the Emergency Services Program through monetary donations, volunteering their time and skills, spreading awareness about the program's initiatives, and advocating for increased resources to enhance its effectiveness in saving lives during emergencies.
        </p>
      </Accordion>
    </section>

    <!-- faq ended -->
  </section>

  <div class="h-[400px] w-full  bg-[#fff] p-4">
    <swiper-container
    class="mySwiper"
    pagination="true"
    pagination-clickable="true"
    navigation="true"
    space-between="30"
    slides-per-view="3"
    loop="true"
      breakpoints='{"200": {"slidesPerView": 1, "spaceBetween": 20}, "768": {"slidesPerView": 3, "spaceBetween": 40}}'
    
   >
      <swiper-slide>
       <img src="/images/appeals/emergency-1.JPG" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="/images/appeals/emergency-2.JPG" alt="">

           </swiper-slide>
      <swiper-slide>
        <img src="/images/appeals/emergency-3.jpg" alt="">

      </swiper-slide>
      <swiper-slide>
        <img src="/images/appeals/emergency-4.jpg" alt="">

      </swiper-slide>
      <swiper-slide>
        <img src="/images/appeals/emergency-5.jpg" alt="">

      </swiper-slide>
      <swiper-slide>
        <img src="/images/appeals/emergency-6.jpeg" alt="">

      </swiper-slide>
    </swiper-container>
  </div>
  
  <style>
    html,
    body {
      position: relative;
      height: 350px;
    }
  
    body {
      /* background: #eee; */
      font-family:
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
  
    swiper-container {
      width: 100%;
      height: 100%;
    }
  
    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    swiper-slide img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .slider {
      width: full;
      height: 350px;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>

</Base>
