---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import Donationcard from "../../layouts/components/donationcard.astro"
import Accordion from "@/shortcodes/Accordion";
const lillahprogram = await getEntry("lillah-program", "-index");
const { Content } = await lillahprogram.render();
const { title, description, meta_title  } = lillahprogram.data;
import Aboutedhi from "@/components/Aboutedhi.astro";
---

<Base title={title} meta_title={meta_title} description={description}>
     <!-- heading started here -->
  <section class="min-h-max bg-white dark:bg-gray-950">
    <div class="absolute top-0 inset-x-0 h-64 flex items-start">
      <div
        class="h-24 w-2/3 bg-gradient-to-br from-green-500 opacity-20 blur-2xl dark:from-green-500 dark:invisible dark:opacity-40"
      >
      </div>
      <div
        class="h-20 w-3/5 bg-gradient-to-r from-green-500 opacity-40 blur-2xl dark:from-green-500 dark:opacity-40"
      >
      </div>
    </div>
    <div
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-2/5 aspect-[2/0.5] bg-gradient-to-br from-green-500 to-green-500 rounded-full opacity-50 blur-2xl"
    >
    </div>
    <div
      class="relative mx-auto pt-32 pb-24 lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5 text-center space-y-10"
    >
      <h1
        class="text-gray-900 dark:text-white mx-auto max-w-5xl font-bold text-4xl/tight sm:text-5xl/tight lg:text-6xl/tight xl:text-7xl/tight"
      >
        Lillah Program
      </h1>
      <p class="text-gray-700 dark:text-gray-300 mx-auto max-w-2xl">
        Lend your support through Edhi Foundation's Lillah Program, providing
        essential services and care to those in need. Make a difference today.
      </p>
      <div class="flex justify-center items-center flex-wrap mx-auto gap-4">
        <a
          href="https://edhi-donate.tscube.co.in/"
          class="flex items-center h-12 px-6 rounded bg-green-600 text-white border border-green-500"
        >
          Donate Now
        </a>
        <a
          href="#"
          class="flex items-center h-12 px-6 pl-10 pr-10 rounded bg-gray-100 dark:bg-gray-900 text-black dark:text-gray-300 border border-black dark:border-gray-800"
        >
          Sign Up
        </a>
      </div>
    </div>
  </section>,
  <!-- heading ended here -->
  <Donationcard programId={[1, 4, 13, 17]} />

  <!-- providings start here -->
  <section>
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
        <div class="flex flex-col justify-center">
          <div class="max-w-xl mb-6">
            <h2
              class="max-w-lg font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
            >
              What is <span class="text-green-700">Lillah?</span>
              <br class="hidden md:block" />
              <span class="relative px-1">
                <div
                  class="absolute inset-x-0 bottom-0 h-3 transform -skew-x-12 bg-teal-accent-400"
                >
                </div>
              </span>
            </h2>
            <p class="text-[17px] text-gray-700 md:text-lg font-roboto">
              Lillah is a charitable giving program through which individuals
              can contribute funds to support the various humanitarian efforts
              of Edhi Foundation. These donations are used to provide essential
              services such as healthcare, education, shelter, and emergency
              relief to those in need. By participating in the Lillah program,
              donors can make a meaningful difference in the lives of vulnerable
              individuals and communities across Pakistan.
            </p>
          </div>
          <div class="grid gap-5 row-gap-8 sm:grid-cols-2">
            <div
              class="bg-white border-l-4 border-green-500 shadow-sm border-deep-purple-accent-400"
            >
              <div class="h-full p-5 border border-l-0 rounded-r">
                <p class="text-sm
                   text-gray-900 font-roboto">
                  Lillah allows you to make targeted donations, ensuring your
                  contribution directly aids specific programs such as
                  healthcare, education, and emergency services by Edhi
                  Foundation.
                </p>
              </div>
            </div>
            <div
              class="bg-white border-l-4 border-green-500 shadow-sm border-deep-purple-accent-400"
            >
              <div class="h-full p-5 border border-l-0 rounded-r">
                <p class="text-sm font-roboto text-gray-900">
                  Supporting Edhi's Lillah initiative means your donation has a
                  focused impact, offering essential resources for medical aid,
                  education, and emergency relief to those in need.
                </p>
              </div>
            </div>
          </div>
          <br />
          <div class="text-center">
            <a
              href="https://edhi-donate.tscube.co.in/"
              class="flex justify-center items-center h-12 px-6 rounded-md bg-green-600 text-white border border-green-500"
            >
              Donate Now
            </a>
          </div>
        </div>
        <div class="pt-20">
          <img
            class="object-cover w-full h-100 rounded shadow-lg sm:h-30rem mt-6"
            src="/images/appeals/lillah-1.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <br /><br />

  <!-- providings ended here -->
  <!-- section-1 area started -->
  <section class="text-center px-8">
    <h1 class="text-green-700 text-4xl font-bold">
      Benefits of Giving Lillah to Edhi Foundation
    </h1>
    <br />
    <div class="sm:grid-cols-1">
      <div class="text-center mb-4">
        <p class="text-[17px] font-roboto">
          Contribute to Edhi Foundation's Lillah program for impactful
          humanitarian aid and support.
        </p><br />
        <div class="border-b-8 border-red-600 w-64 mx-auto my-2 rounded-md">
        </div>
      </div>
      <div class="flex flex-col md:flex-row pt-4">
        <div class="w-full md:w-1/2 border-r-4 border-green-500 pr-4">
          <p class="text-gray-700 text-justify text-[17px] font-roboto">
            When you give Lillah, you provide vital assistance to those facing
            adversity. Your donation directly funds programs such as healthcare,
            education, and emergency relief, ensuring that individuals and
            communities in need receive essential support.<br /><br /> By participating
            in the Lillah program, you play a role in uplifting the lives of vulnerable
            populations across Pakistan. Your contribution helps to alleviate suffering,
            promote education, and provide shelter to those without homes. <br
            /><br />
            Giving Lillah allows you to make a tangible difference in the lives of
            others, providing them with access to healthcare services, educational
            opportunities, and essential resources. Your donation has a direct and
            immediate impact, offering hope and assistance to those in crisis.
          </p>
        </div>
        <div class="w-full md:w-1/2 pl-4">
          <h5 class="text-green-700 font-bold text-justify pb-2">
            The Prophet (saw) said that “The Believers Shade On The Day Of
            Resurrection Will Be His Sadaqah” (Hadith Tirmidhi)
          </h5>
          <p class="text-gray-700 text-justify text-[17px] font-roboto">
            Furthermore, supporting Edhi Foundation's Lillah initiative brings
            blessings and rewards. Your charitable contribution is a form of
            Sadaqah Jariyah, offering ongoing benefits as it continues to
            positively impact the lives of individuals and communities in need. <br
            /><br /> In summary, giving Lillah through Edhi Foundation provides an
            opportunity to extend a helping hand to those who need it most. Your
            generosity enables the Foundation to carry out its vital humanitarian
            work, bringing relief, comfort, and hope to those facing hardship and
            adversity.
          </p>
        </div>
      </div>
    </div>
  </section>  

  <!-- section-1 area ended -->
    <!-- section-2 area started -->

  <section class="py-20">
    <h1 class="text-3xl font-bold flex justify-center">
      Types of &nbsp; <span class="text-green-700"> Lillah</span>
    </h1>
    <br />

    <div class="text-center pb-6 mb-4">
      <p class="text-[17px] font-roboto">
        Support various humanitarian causes such as healthcare, education,
      shelter, and emergency relief through different Lillah options.
      </p>
    </div>
    <div class="border border-gray-300 p-4 pb-4 pt-6 ">
      <div class="flex flex-wrap -mx-4">
        
        <div class="w-full md:w-1/2 lg:w-1/3 pl-4 pr-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Healthcare</span>&nbsp;Lillah
          </h6><br />
          <p class="font-roboto">
              Support medical aid for the needy by contributing to Edhi Foundation's Healthcare Lillah, ensuring access to essential healthcare services and medications for vulnerable individuals.
          </p>
          <a href="" class="transition hover:border-green-500 hover:shadow-green-400"></a>
          </div>
        </div>
        
        <div class="w-full md:w-1/2 lg:w-1/3 pl-4 pr-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Education</span>&nbsp;Lillah
          </h6><br />
          <p class="font-roboto">
              Provide educational opportunities for underprivileged children through Education Lillah, supporting initiatives that promote literacy, schooling, and skill development in communities across Pakistan.
          </p>
          </div>
        </div>
        
        <div class="w-full md:w-1/2 lg:w-1/3 pl-4 pr-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Shelter</span>&nbsp;Lillah
          </h6><br />
          <p class="font-roboto">
              Help provide shelter and refuge to those without homes by donating to Shelter Lillah, enabling Edhi Foundation to offer accommodation and support to homeless individuals and families.
          </p>
          </div>
        </div>
        
        <div class="w-full md:w-1/2 lg:w-1/3 pl-4 pr-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Emergency Relief</span>&nbsp;Lillah
          </h6><br />
          <p class="font-roboto">
              Assist in emergency situations by giving to Emergency Relief Lillah, allowing Edhi Foundation to respond swiftly and effectively to disasters, providing aid and assistance to affected communities.
          </p>
          </div>
        </div>
        
        <div class="w-full md:w-1/2 lg:w-1/3 pl-4 pr-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Food Aid</span>&nbsp;Lillah
          </h6><br />
          <p class="font-roboto">
              Contribute to Food Aid Lillah to help alleviate hunger and malnutrition among the less fortunate, providing essential food supplies and nutritional support to those in need.
          </p>
          </div>
        </div>
        
        <div class="w-full md:w-1/2 lg:w-1/3 pl-4 pr-4 mb-4">
          <div class="border border-gray-300 p-4 w-full h-60 shadow-lg transition hover:border-green-500 hover:shadow-green-400">
            <h6>
              <span class="text-green-700">Orphan Support</span>&nbsp;Lillah
          </h6><br />
          <p class="font-roboto">
              Extend a helping hand to orphaned children by donating to Orphan Support Lillah, enabling Edhi Foundation to provide care, education, and support to orphaned individuals in Pakistan.
          </p>

          </div>
        </div>
      
      </div>
    </div>
    

    <!-- content area ended -->
  </section>


      <!-- section-2 area ended -->
      <!-- section-3 area started -->

      <Aboutedhi />

      <!-- section-3 area ended -->
      <!-- faq started -->
      <section class="text-center pt-36">
        <h1 class="text-3xl font-bold mb-6 text-center">
          Frequently Asked Questions
        </h1>
        <h6>
          Explore our FAQs for clear insights on giving, eligibility, and the
          positive impact <br /> your contribution can make in transforming lives.
        </h6>
      </section>
      <section class="section-sm container max-w-2xl">
        <!-- ### Accordion -->

        <Accordion
          className="text-justify"
          client:load
          title="How can I donate to the Lillah program?"
        >
          <p class="font-roboto">
            Donations to the Lillah program can be made through various channels, including online platforms, bank transfers, or by visiting Edhi Foundation's offices or collection centers.
          </p>
        </Accordion>
        <Accordion
          className="text-justify"
          client:load
          title="What types of projects does the Lillah program support?"
        >
          <p class="font-roboto">
            The Lillah program supports a wide range of charitable projects, including the provision of medical services, educational initiatives, disaster relief efforts, and assistance to the needy and marginalized communities.
          </p>
        </Accordion>
        <Accordion
          className="text-justify"
          client:load
          title="Can I specify how my Lillah donation is used?"
        >
          <p class="font-roboto">
            While donors cannot specify individual recipients, they can designate their donations for specific purposes, such as healthcare, education, or emergency relief, within the broader framework of Edhi Foundation's charitable activities.
          </p>
        </Accordion>
        <Accordion
          className="text-justify"
          client:load
          title="Is my donation to the Lillah program tax-deductible?"
        >
          <p class="font-roboto">
            As per local tax regulations, donations to charitable organizations like Edhi Foundation may be eligible for tax deductions. Donors are advised to consult tax authorities or financial advisors for specific details regarding tax benefits.
          </p>
        </Accordion>
      </section>

      <!-- faq ended -->
      <div class="h-[400px] w-full  bg-[#fff] p-4">
        <swiper-container
        class="mySwiper"
        pagination="true"
        pagination-clickable="true"
        navigation="true"
        space-between="30"
        slides-per-view="3"
        loop="true"
          breakpoints='{"200": {"slidesPerView": 1, "spaceBetween": 20}, "768": {"slidesPerView": 3, "spaceBetween": 40}}'
        
       >
          <swiper-slide>
           <img src="/images/appeals/sadaqah-1.jpg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="/images/appeals/sadaqah-2.jpg" alt="">
  
               </swiper-slide>
          <swiper-slide>
            <img src="/images/appeals/sadaqah-3.jpg" alt="">
  
          </swiper-slide>
          <swiper-slide>
            <img src="/images/appeals/sadaqah-4.jpg" alt="">
  
          </swiper-slide>
          <swiper-slide>
            <img src="/images/appeals/sadaqah-5.jpg" alt="">
  
          </swiper-slide>
          <swiper-slide>
            <img src="/images/appeals/sadaqah-6.jpg" alt="">
  
          </swiper-slide>
        </swiper-container>
      </div>
      
      <style>
        html,
        body {
          position: relative;
          height: 350px;
        }
      
        body {
          /* background: #eee; */
          font-family:
            Helvetica Neue,
            Helvetica,
            Arial,
            sans-serif;
          font-size: 14px;
          color: #000;
          margin: 0;
          padding: 0;
        }
      
        swiper-container {
          width: 100%;
          height: 100%;
        }
      
        swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        swiper-slide img {
          display: block;
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
        .slider {
          width: full;
          height: 350px;
        }
      </style>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
    ></script>
      
    
</Base>