---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import Accordion from "@/shortcodes/Accordion";
const onlinequarbani = await getEntry("online-quarbani-service", "-index");
const { Content } = await onlinequarbani.render();
const { title, description, meta_title } = onlinequarbani.data;
import ServiceSlider from "@/components/ServiceSlider.astro";
import Donationcard from "../../layouts/components/donationcard.astro";

---

<Base title={title} meta_title={meta_title} description={description}>
  <!-- <--heading started here -->
  <section
    class="relative bg-[url(/images/qurbani/banner-bg.jpg)] bg-cover bg-center bg-no-repeat pb-12 h-[400px]"
  >
    <div
      class="bg-gradient-to-r from-white to-transparent absolute inset-0 sm:bg-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-r from-white to-transparent ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    >
    </div>

    <div
      class="relative mx-auto max-w-screen-xl px-4 sm:px-6 lg:flex lg:h-screen lg:items-baseline pt-12 lg:px-8"
    >
      <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-left font-primary">
          Online Qurbani

          <strong class="block font-extrabold text-green-600"> Services</strong>
        </h1>

        <p class="text-lg mt-4 sm:text-xl/relaxed text-left font-roboto">
          Make your sacrifice count with Edhi Foundation's Qurbani service,
          spreading joy and nourishment to those in need during
        </p>

        <div class="mt-8 flex flex-wrap gap-4 text-center">
          <a
            href="https://edhi-donate.tscube.co.in/"
            class="block w-96 rounded bg-green-700 px-12 py-3 text-[18px] font-medium text-white shadow hover:bg-green-600 focus:outline-none focus:ring active:bg-green-600 sm:w-auto"
          >
            Donate Now
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-green-600 border-black p-4">
    <h1 class="text-center text-[20px] text-white pb-2 font-roboto">
      Prophet(PBUH) Said-(on the day of Eid al-Adha), The first thing we will do
      on this day of ours, is to offer the (Eid) prayer and then return to
      slaughter the sacrifice.
    </h1>
    <p class="text-center text-white">(Narrated Al-Bara)</p>
  </div>
  <!-- <--heading ended here -->

    <Donationcard programId={[24,25,27,26]} />



  <!-- section 1 started here -->
  <section>
    <div class="mx-auto max-w-screen-xl px-4 pt-10 sm:px-6 sm:py-16 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/qurbani/qurbani-services-1.jpg"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>

        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">What is Qurbani?</h2>

          <p class="text-[17px] font-roboto">
            Qurbani is a sacrifice that is offered at the time of Eid al-Adha to
            show gratitude towards Allah (swt) and to provide for the poor and
            needy. The Prophet Muhammad (S.A.W.W) was once asked by his
            Companions: “O Prophet of Allah! What is this qurbani?” He replied,
            “It is the Sunnah of your father Ibrahim (A.S).” <br /><br />(Hadith
            – Ibn Majah) Allah (swt) says in the Qur’an: “It is neither their
            flesh nor their blood that reaches Allah; it is your piety that
            reaches Him.” (Qur’an 22:37) Qurbani has been performed from the
            time of Ibrahim (as) and commemorates also Ibrahim’s willingness to
            sacrifice his son, who was replaced by an animal at the time of
            sacrifice.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- section 1 ended here -->
  <!-- section 2 started here -->
  <section>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 pt-6 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">
            Ethical and Humane Practices
          </h2>

          <p class="text-[17px] font-roboto">
            The Edhi Air Ambulance Service is equipped with two planes and a
            helicopter, all set to provide rapid assistance during natural
            disasters. Their mission is to quickly airlift and transport injured
            or stranded individuals to nearby hospitals in times of crisis. With
            a focus on swift response and efficient evacuation, they play a
            crucial role in saving lives during emergencies. <br /><br />Their
            dedicated team ensures that help reaches those in need as quickly as
            possible, offering crucial support when it's needed most. With their
            fleet of aircraft, they stand ready to serve communities facing
            unforeseen calamities with professionalism and compassion.
          </p>
        </article>
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/qurbani/qurbani-services-2.jpg"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- section 2 ended here -->
  <!-- section 3 started here -->
  <section class="pb-10 pt-16">
    <div class="max-w-7xl mx-auto px-5 sm:px-10 md:px-12 lg:px-5">
      <div
        class="align-middle bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 rounded-lg p-8 md:p-10 py-14 lg:p-14 flex flex-col md:flex-row items-center justify-center text-center md:text-left md:justify-start md:items-start gap-8"
      >
        <div class="md:w-2/5 align-middle">
          <h5
            class="pt-10 text-center text-xl sm:text-4xl md:text-3xl xl:text-6xl text-black dark:text-white font-display font-bold leading-tight"
          >
            Get Involved
          </h5>
        </div>
        <div class="flex flex-col md:flex-1 space-y-8">
          <p class="text-gray-700 dark:text-gray-300 text-2xl font-roboto">
            Take the next step to making a difference – support Edhi
            Foundation's humanitarian efforts!
          </p>
          <div class="text-[20px] flex justify-center md:justify-start">
            <a
              href="https://edhi-donate.tscube.co.in/"
              class="h-12 px-5 rounded-md flex items-center bg-green-700 text-white"
            >
              Donate Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section 3 ended here -->
  <!-- section 4 started here -->

  <section>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl"></div>

      <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
          <img
            alt=""
            src="/images/qurbani/qurbani-services-3.jpg"
            class="absolute inset-0 h-full w-full object-cover rounded"
          />
        </div>

        <article class="space-y-4 text-gray-600 pt-20 pb-20">
          <h2 class="text-3xl font-bold sm:text-4xl pb-2">
            Impactful Contribution
          </h2>

          <p class="text-[17px] font-roboto">
            Your Qurbani donation means a lot to those who are less fortunate.
            When you donate through Edhi Foundation, you're making a big
            difference in their lives. Rest assured, your sacrifice goes
            directly to those who need it most. It brings food and happiness to
            many during Eid, spreading joy in our communities. Join us in this
            meaningful act of giving, knowing that together, we're helping
            families in need. Your generosity ensures that everyone can
            celebrate Eid with dignity and full stomachs.<br /><br />With Edhi
            Foundation, your contribution truly makes a lasting impact. Let's
            continue to spread kindness and compassion, one Qurbani at a time.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- section 4 ended here -->
  <!-- section 5 started here -->
  <section class="pt-28">
    <div class="bg-gradient-to-br from-green-200 to-gray-50 dark:from-gray-900 dark:bg-gray-800 px-4 mb-12 py-8">
      <h1 class="text-center text-4xl pt-8 pb-10">When is Qurbani Eid 2024?</h1>

      <div class="flex flex-wrap px-8">
        <div class="w-full md:w-1/2 p-2 px-12">
          <p class="text-[17px] font-roboto">
            Qurbani Eid, also known as Eid al-Adha, happens after the yearly
            Hajj pilgrimage. The date of Eid al-Adha, the 10th day of Dhul
            Hijjah, can vary, and celebrations typically last for two to four
            days, depending on the country. During these days, families and
            communities come together to mark the occasion.<br /><br />The
            highlight of Qurbani Eid is the Qurbani, which means sacrifice. This
            special act is carried out right after the Eid prayers, where people
            gather to perform their prayers in unity.
          </p>
        </div>
        <div class="w-full md:w-1/2 p-2 px-8">
          <p class="text-[17px] font-roboto">
            Eid al-Adha holds great importance in Islam, symbolizing obedience,
            gratitude, and compassion. It's a time for communal prayers, sharing
            meals, and expressing generosity by distributing the Qurbani meat
            among family, friends, and those in need. The festive atmosphere
            brings joy and unity, emphasizing the values of togetherness and
            compassion during this auspicious occasion. <br /><br /> It is a significant
            moment that reflects the spirit of sacrifice and giving, mirroring the
            story of Prophet Ibrahim.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- section 5 ended here -->
  <!-- slider section started -->
  <section class="pb-28 pt-4">
    <ServiceSlider
      heading="Online Qurbani Service"
      description="Easily perform Qurbani online with Edhi Foundation's support."
      img1="/images/qurbani/qurbani-services-1.jpg"
      img2="/images/qurbani/qurbani-services-2.jpg"
      img3="/images/qurbani/qurbani-services-3.jpg"
      img4="/images/qurbani/qurbani-services-1.jpg"
      img5="/images/qurbani/qurbani-services-2.jpg"
      img6="/images/qurbani/qurbani-services-3.jpg"
    />
  </section>
  <!-- slider section ended -->
  <!-- last section started -->
  <div class="text-center pb-12">
    <h1 class="text-black text-3xl font-bold">Qurbani Donation</h1>
    <br />

    <div class="sm:grid-cols-1 px-8">
      <div class="text-center mb-4">
        <p class="text-center text-[17px] font-roboto">
          Supporting those in need through Qurbani is an opportunity to extend a
          helping hand and bring hope to families facing hardship. With Edhi
          Foundation, your donation during the sacred first ten days of Dhul
          Hijjah carries immense blessings, echoing the compassion of Prophet
          Muhammad (peace be upon him). Join us in making a difference this Eid
          by providing essential assistance to those who need it most.
        </p><br />
      </div>
    </div>
    <div class="videos flex justify-center">
      <iframe
        class="video rounded"
        src="https://www.youtube.com/embed/gtkeoFPWnTo?si=Us608z5es5uSl3Nh"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <style>
      .video {
        width: 80vw;
        height: 90vh;
      }
      @media only screen and (max-width: 800px) {
        .video {
          width: 95vw;
          height: 50vh;
        }
      }
    </style>
  </div>
  <!-- last section ended -->
  <!-- faq section started -->
  <section class="text-center pt-10">
    <h1 class="text-3xl font-bold mb-6 text-center">
      Frequently Asked Questions
    </h1>
    <h6 class="font-roboto">
      Explore our FAQs for clear insights on giving, eligibility, and the
      positive impact <br /> your contribution can make in transforming lives.
    </h6>
  </section>

  <section class="section-sm container max-w-4xl">
    <!-- ### Accordion -->

    <Accordion
      className="text-justify"
      client:load
      title="Does the Edhi Foundation charge any fees for facilitating Qurbani services?"
    >
      <p>
        The Edhi Foundation may have administrative or operational costs
        associated with facilitating Qurbani services, but they typically ensure
        that the majority of the donation goes towards the intended purpose of
        providing meat to those in need. However, it's advisable to inquire
        about any applicable fees or charges before participating.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="How can individuals or organizations participate in Edhi Foundation's Qurbani service?"
    >
      <p>
        They can contact the Edhi Foundation directly through their official
        channels, such as their website or local branches, to inquire about
        participating in the Qurbani service. They can either donate money or
        purchase animals for sacrifice through the foundation.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="How does Edhi Foundation ensure equitable distribution of Qurbani meat?"
    >
      <p>
        The Edhi Foundation has a well-established network of volunteers and
        distribution centers across the country. They carefully vet and identify
        needy families and communities to ensure that the meat from Qurbani is
        distributed to those who are most deserving and in need.
      </p>
    </Accordion>
    <Accordion
      className="text-justify"
      client:load
      title="What are the benefits of participating in the Edhi Foundation's Qurbani service?"
    >
      <p>
        By participating in Edhi Foundation's Qurbani service, individuals or
        organizations can fulfill their religious obligation of sacrifice while
        also contributing to helping those in need by providing them with meat
        during Eid.
      </p>
    </Accordion>
  </section>
  <!-- faq section ended -->
</Base>
